{% extends 'delivery/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'delivery/style.css' %}">


<!-- Profile Card -->
<div class="card">
    <div class="profile-row">
        <span>Username:</span>
        <p>{{ request.user.username }}</p>
    </div>

    <div class="profile-row">
        <span>Email:</span>
        <p>{{ request.user.email|default:"-" }}</p>
    </div>

    <div class="profile-row">
        <span>Phone:</span>
        <p>{{ delivery_person.phone }}</p>
    </div>

    <div class="profile-row">
        <span>Address:</span>
        <p>{{ delivery_person.address }}</p>
    </div>

    <div class="profile-row">
        <span>Joined:</span>
        <p>{{ delivery_person.joining_date }}</p>
    </div>
</div>

{% endblock %}
