{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<div class="about-center">
    <h1>Elevate Your Look with our Fashion Forward Eyewear</h1>
</div>

<section class="about-main">
    <div class="about-left">
        <img src="{% static 'images/product1.jpg' %}">
    </div>
    

    <div class="about-right">
        <h2>Explore the Latest Eyewear Trends</h2>
        <p>
            Our minimalist eyewear blends simplicity with elegance.
            Crafted for comfort and clarity, each frame reflects modern
            aesthetics while ensuring all-day wearability.
        </p>
    </div>
</section>

<section class="about-main reverse">
    <div class="about-left">
        <img src="{% static 'images/product2.jpg' %}">
    </div>

    <div class="about-right">
        <h2>Find the Perfect Pair</h2>
        <p>
            From bold fashion statements to lightweight sports eyewear,
            Optiview delivers quality frames designed for every lifestyle.
        </p>
    </div>
</section>

<section class="feature-section">
    <div class="feature">
        <h3>Premium Quality</h3>
        <p>Durable lenses with crystal clarity.</p>
    </div>

    <div class="feature">
        <h3>Modern Design</h3>
        <p>Trendy frames for every age.</p>
    </div>

    <div class="feature">
        <h3>Trusted Brand</h3>
        <p>Loved by thousands of customers.</p>
    </div>
</section>

{% endblock %}
