{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<section class="shop-section">
    <h2>Shop Goggles</h2>
    <div class="shop-container">
        {% if products %}
            {% for product in products %}
            <div class="product-card">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width:150px;height:auto;">
                <h3>{{ product.name }}</h3>
                <p>₹{{ product.price }}</p>
                <!-- <a href="/product/{{ product.id }}/" class="btn primary">
                Buy Now
            </a> -->
                <!-- <a href="{% url 'add_to_wishlist' product.id %}" class="btn secondary">
    ❤️ Wishlist
</a> -->       
                <a href="{% url 'add_to_wishlist' product.id %}"
   class="wishlist-heart {% if product.id in wishlist_ids %}active{% endif %}">
    ♥
</a>
                <a href="{% url 'add_to_cart' product.id %}" class="btn primary">
    Add to Cart
</a>
                <!-- <a href="{% url 'add_to_cart' product.id %}" class="btn primary">
    Add to Cart
</a> -->
            </div>
            {% endfor %}
        {% else %}
            <p style="text-align:center;">No products found.</p>
        {% endif %}
    </div>
</section>

{% endblock %}