{% extends "admin/base.html" %}
{% block content %}
<div class="row">
  <!-- LEFT: Add Category -->
  <div class="col-md-4">
    <h5>Add Category</h5>

    <!-- {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
      {% endfor %}
    {% endif %} -->

    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label>Category Name</label>
        <input type="text" name="name" class="form-control" required>
      </div>
      <button class="btn btn-primary w-100">Add Category</button>
    </form>
  </div>

  <!-- RIGHT: Category Table -->
  <div class="col-md-8">
    <h5>Categories</h5>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>sr no.</th>
          <th>Category Name</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ category.name }}</td>
          <td>
                <!-- Update button -->
                <a href="{% url 'adminpanel:edit_category' category.id %}" class="btn btn-sm btn-primary">Edit</a>
                
                <!-- Delete button -->
                <a href="{% url 'adminpanel:delete_category' category.id %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="2">No categories yet</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}
