{% extends 'admin/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'admin/css/add_product.css' %}">
{% endblock %}

{% block content %}
<div class="add-product-page">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="category-form-card">
        <h4 class="category-heading ripple-text">🛒 Add Product</h4>

        <form method="post" enctype="multipart/form-data" class="category-form">
          {% csrf_token %}

          <div class="form-group">
            <label>Category</label>
            <select name="category" id="category" required>
              <option value="">Select Category</option>
              {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label>Subcategory</label>
            <select name="subcategory" id="subcategory" required>
              <option value="">Select Subcategory</option>
            </select>
          </div>

          <div class="form-group">
            <label>Product Name</label>
            <select name="name" required>
              <option>eyeglasses</option>
              <option>lens</option>
              <option>frame</option>
            </select>
          </div>

          <div class="form-group">
            <label>Brand</label>
            <input type="text" name="brand" required>
          </div>

          <div class="form-group">
            <label>Price</label>
            <input type="number" name="price" required>
          </div>

          <div class="form-group">
            <label>Stock</label>
            <input type="number" name="stock" required>
          </div>

          <div class="form-group">
            <label>Image</label>
            <input type="file" name="image" required>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn-primary w-100">Save Product</button>
            <a href="{% url 'adminpanel:product_list' %}" class="btn-cancel w-100 mt-2">Back</a>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'admin/js/add_product.js' %}"></script>
{% endblock %}
