{% extends 'admin/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'admin/css/mix.css' %}">
{% endblock %}

{% block content %}

<div class="profile-page">

<div class="profile-card">

<h4 class="profile-heading">Change Password</h4>

<form method="POST" class="profile-form">
{% csrf_token %}

<div class="form-group">
<label>Old Password</label>
<input type="password" name="old_password" required>
</div>

<div class="form-group">
<label>New Password</label>
<input type="password" name="new_password" required>
</div>

<div class="form-group">
<label>Confirm Password</label>
<input type="password" name="confirm_password" required>
</div>

<div class="profile-actions">

<button type="submit" class="btn-save">
Update Password
</button>

<a href="{% url 'adminpanel:admin_profile' %}" class="btn-cancel">
Cancel
</a>

</div>

</form>

</div>

</div>

{% endblock %}