{% extends 'admin/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'admin/css/notification.css' %}">
{% endblock %}

{% block content %}
<div class="notifications-page">
    <h3 class="ripple-text">🔔 Notifications</h3>

    {% for n in notifications %}
        <div class="alert">
            <b>{{ n.title }}</b>
            {{ n.message }}
            <small>{{ n.created_at }}</small>
        </div>
    {% empty %}
        <p>No notifications</p>
    {% endfor %}
</div>
{% endblock %}
