{% extends 'admin/base.html' %}
{% block content %}

<h2>Orders</h2>

<table>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Total</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for order in orders %}
    <tr>
        <td>#{{ order.id }}</td>
        <td>{{ order.user.username }}</td>
        <td>₹{{ order.total_amount }}</td>
        <td>{{ order.status }}</td>
        <td>
            
            <form method="post" action="{% url 'adminpanel:update_order_status' order.id %}">
                {% csrf_token %}
                <select name="status">
                    <option value="Pending">Pending</option>
                    <option value="Completed">Completed</option>
                    <option value="Cancelled">Cancelled</option>
                </select>
                <button type="submit">Update</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}
