* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: url("../images/delivery-bg.jpg") no-repeat center center/cover;
}

.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.auth-box {
    background: #fff;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;
}

.auth-box h2 {
    margin-bottom: 20px;
    color: #2c3e50;
}

.auth-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.auth-box button {
    width: 100%;
    padding: 10px;
    background: #1e3a8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-box button:hover {
    background: #162c6a;
}

.success {
    margin-top: 15px;
    color: green;
    font-size: 14px;
}
