 .navbar {
    background-color: #1f3b6f;
    color: white;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
} 

/* LEFT */
 .nav-left h2 {
    margin: 0;
} 

/* RIGHT */
 .nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
} 

.logout-form {
    margin: 0;
} 

.logout-btn {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 6px 14px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  
} 

.logout-btn:hover {
    background: white;
    color: #1f3b6f;
} 

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
} 

body {
    background: #f4f6fb;
}


.navbar { 
    background: #243b6b;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.logout-btn {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
} 

/* LAYOUT */
 .container {
    display: flex;
} 

/* SIDEBAR */
 .sidebar {
    width: 230px;
    background: #eef1f8;
    min-height: 100vh;
    padding: 20px;
} 
 
.sidebar h3 {
    margin-bottom: 20px;
} 

.sidebar a {
    display: block;
    padding: 12px;
    margin-bottom: 8px;
    color: #333;
    text-decoration: none;
    border-radius: 6px;
} 

.sidebar a.active,
.sidebar a:hover {
    background: #243b6b;
    color: white;
} 

/* CONTENT */
 .content {
    flex: 1;
    padding: 30px;
} 

/* CARDS */
 .cards {
    display: flex;
    gap: 20px;
    margin: 20px 0;
} 
.card {
    background: white;
    padding: 25px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
} 
 
.card h4 {
    color: #555;
} 

.card p {
    font-size: 30px;
    margin-top: 10px;
} 

.delivered h4 { color: green; }
.pending h4 { color: orange; } 

/* TABLE */
 .table-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
} 

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}  
th {
    text-align: left;
    background: #f0f0f0;
    padding: 10px;
} 
 
td {
    padding: 15px;
} 

 .empty {
    text-align: center;
    color: gray;
} 
